<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cook_food_consume</title>
    <link rel="icon" href="https://res.cloudinary.com/pcloudk/image/upload/v1603092972/favicon_jaldqs.png"
        type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/about.css">
    <link rel="stylesheet" href="/stylesheet/app.css">


</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/images">Photos</a>
        <% if(currentUser){ %>
        <a href="/images/newimage">New Image Post</a>
        <a href="/logout">Logout</a>
        <a href="/about">About Us</a>
        <% } else {%>
        <a href="/about">About Us</a>
        <% } %>
    </div>
    <span class="navbar-toggler" onclick="openNav()" style=" cursor: pointer"><i
            class="fas fa-th-list fa-2x"></i></span>
    <div id="main">