<%- include("./partials/header")%>

<div class="container">
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                <a href="https://instagram.com/cook_food_consume?igshid=130divo48lc89">cook_food_consume</a> was created
                in 2020 out of passion for amazing food photography. It is a food photography blog maintained by two
                sister team <a href="https://instagram.com/kundupragati?igshid=3k06yb2g45cd">Pragati</a> and <a
                    href="https://instagram.com/pranati375?igshid=ptfu0yxhmo5w">Pranati</a>, currently eating and
                cooking from West Bengal, India.
            </p>
        </div>
    </div>
</div>

<%- include("./partials/footer")%>