<%- include("./partials/header")%>

<h1>Sign Up</h1>

<form action = "/pknew" method = "POST">
	<input type = "text", name = "username" placeholder = "username">
	<input type = "password", name= "password" placeholder = "password">
	<input type = "password", name= "adminCode" placeholder = "admin code">
	<button>SUBMIT</button>
</form>

<%- include("./partials/footer")%>